<div>
<div class="py-4 px-6 flex flex-row justify-center ">
  <input class="border-2 w-56 py-2 px-3 text-gray-700 mb-3"
         (change)="changingAmount2 = exchangeService.sellingCurrency(sellingCurrency,buyingCurrency,changingAmount)"
         [(ngModel)] = "changingAmount"/>
  <select class="h-11 align-middle border-2 border-gray-700" name="inCurr" [(ngModel)]="sellingCurrency">
    <option *ngFor="let currency of curr" >{{ currency }}</option>
  </select>

  <h2 class="mr-5"></h2>

  <input class="border-2 h-11 w-56 py-2 px-3 text-gray-700 mb-3"
         (change) = "changingAmount = exchangeService.buyingCurrency(sellingCurrency,buyingCurrency,changingAmount2)"
         [(ngModel)] = "changingAmount2"
  />
  <select class="h-11 border-2 border-gray-700" name="outCurr" [(ngModel)]="buyingCurrency">
    <option *ngFor="let currency of curr">{{ currency }}</option>
  </select>

</div>
  <h5 class="text-center text-gray-400">для конвертации нажмите Enter</h5>
</div>

